/* Dark Color Palette

Background dark navy: #2b3a5b
Pink: #e4939c
Gray: #91A2A7
Blue: #44bbbf
White: #fffffe

Light Color Palette

Background beige: #F8F5E1
Blue: #44bbbf
Green: #85A885
Pink: #e4939c
Brown: #8E7276
*/

html {
  scroll-behavior: smooth;
  width: fit-content;
  max-width: 100%;
  overflow-x: hidden;
}

.header{
  text-align: center; /* center the text */
  padding: 100px;
  font-size: 300%;
}

.header h1{
    color: #44bbbf;
    font-size: 200%;
}

.header h2{
  color: #85A885;
  font-size: 100%;
  bottom: 50px;
  position: relative;
}

body {
  background-color: #F8F5E1;
  color: #44bbbf;
  margin: 0;
  transition: background .2s linear;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  z-index: 2;
}


/* Style the top navigation bar */
.navbar {
  width: 100%;
  position: fixed;
  overflow: hidden; /* Hide overflow */
  background-color: #F8F5E1; /* Dark background color */
  transition: background .2s linear;
  top: 0px;
  z-index: 1;
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: #85A885; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */

}

/* Change color on hover/mouse-over */
.navbar a:hover {
  text-decoration: underline;
  text-decoration-color: #44bbbf; /* Black text color */
  text-decoration-thickness: .5em;
}

.label {
  position: fixed;
  float: right;
  top: 5px;
  right: 15px;
  width: 50px;
  height: 26px;
  display: flex;
  background-color: #44bbbf;
  border-radius: 50px;
  padding: 5px;
}

.ball {
  width: 22px;
  height: 22px;
  background-color: #2b3a5b;
  position: relative;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform .2s linear;
}

.checkbox:checked + .label .ball {
  background-color: #F8F5E1;
  transform: translateX(24px);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.sectionheader {
  text-align: center;
  font-size: 150%;
}

.sectionheader h1 {
  color: #e4939c;
}

.sectionheader h2{
  color: #85A885;
  font-size: 100%;
  bottom: 20px;
  position: relative;
}

.aboutsection {
  text-align: center;
  position: relative;
  width: 100%;
}

.aboutsection p{
  width: 60%;
  display: inline-block;
  text-align: left;
  position: relative;
  left: 50px;
  margin-right: 0px;
  color: #8E7276;
  font-size: 125%;
  right: 100px;
}

.aboutsection img {
  border: 5px solid #e4939c;
  border-radius: 50%;
  float: right;
  clear: both;
  position: relative;
  align: center;
  bottom: 50px;
  left: 50px;
}

.aboutsection a:link {
  color: #44bbbf;
}

.aboutsection a:visited {
  color: #85A885;
}

.projectsection {
  text-align: center;
  position: relative;
  width: 100%;
}

.projectsection p{
  width: 60%;
  display: inline-block;
  text-align: center;
  position: relative;
  color: #8E7276;
  font-size: 125%;
}

.projectsection a:link {
  color: #44bbbf;
}

.projectsection a:visited {
  color: #8E7276;
}

.projects {
  text-align: center;
  position: relative;
  width: 100%;
}

.projects p{
  width: 60%;
  display: inline-block;
  text-align: left;
  position: relative;
  color: #8E7276;
  font-size: 125%;
}

.projects a:link {
  color: #44bbbf;
}

.projects a:visited {
  color: #85A885;
}

.bottomtext p{
  font-size: 75%;
  text-align: center;
}

.buttoncontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.contactbutton {
  width: 300px;
  height: 75px;
  border: none;
  color: #fffffe;
  font-size: 1.2rem;
  letter-spacing: 0px;
  background-color: #85A885;
  border-radius: 25px;
  transition: ease-out 0.3s;
  outline: none;
  position: relative;

}

.contactbutton:hover {
  box-shadow: inset 300px 0 0 0 #44bbbf;
  cursor: pointer;
  letter-spacing: 2px;
}
