/* Dark Color Palette

Background dark navy: #2b3a5b
Pink Title: #e4939c
Gray Subtitle: ##91A2A7
Red subtite: #EF5540
Lighter pink subtitle: #AB4967
Charcoal: #234450
White: #fffffe

Light Color Palette

Background white: #fffffe
Blue Title: #44bbbf
Red Subtitle: #EF5540
Tangerine accent: ##e4939c
Beige: #F8F5E1
Green accent: #59B480
*/

html {
  scroll-behavior: smooth;
  width: fit-content;
}


.header{
  text-align: center; /* center the text */
  padding: 100px;
  font-size: 300%;
}

.header h1{
    color: #e4939c;
    font-size: 200%;
}

.header h1.light{
  color: #44bbbf;
  font-size: 200%;
}

.header p{
  color: #91A2A7;
  font-size: 50%;
  bottom: 50px;
  position: relative;
}


body {
  background-color: #2b3a5b;
  color: #e4939c;
  margin: 0;
  transition: background .2s linear;
}

.paragraph {
  color: #fffffe;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #2b3a5b; /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: #fffffe; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  text-decoration: underline;
  text-decoration-color: #e4939c; /* Black text color */
  text-decoration-thickness: 3px
}

.navbar.light {
  overflow: hidden; /* Hide overflow */
  background-color: #fffffe; /* Dark background color */
}

/* Style the navigation bar links */
.navbar.light a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: #EF5540; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Change color on hover/mouse-over */
.navbar.light a:hover {
  text-decoration: underline;
  text-decoration-color: #44bbbf; /* Black text color */
  text-decoration-thickness: 3px
}

.label {
  position: absolute;
  float: right;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 26px;
  display: flex;
  background-color: #e4939c;
  border-radius: 50px;
  padding: 5px;
}

.ball {
  width: 22px;
  height: 22px;
  background-color: #2b3a5b;
  position: relative;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform .2s linear;
}

.checkbox:checked + .label .ball {
  background-color: #fffffe;
  transform: translateX(24px);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.sectionheader {
  text-align: center;
  font-size: 150%;
}

.sectionheader p{
  color: #91A2A7;
  font-size: 100%;
  bottom: 20px;
  position: relative;
}

.aboutsection p{
  width: auto;
  display: block;
  text-align: left;
  position: relative;
  left: 100px;
  margin-right: 0px;
  color: #fffffe;
}

.aboutsection img {
  border: 5px solid #AB4967;
  float: right;
  right: 100px;
  margin-left: 10px;
  clear: both;
}
